@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&family=Open+Sans:wght@300;400;600;700&display=swap'); */

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-heading: "Open Sans", sans-serif;
  --color-primary: #37626F;
  --color-secondary: #00AAC1;
  --color-tertiary: #F5F7FB;
  --color-text-main: #111111;
  --color-text-grey: #707070;
  --color-text-soft-grey: #8EA2A7;
  --color-orange: #ED7203;
  --color-blue-dark: #073465;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text-main);
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

@utility scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
